#wizardBody {
	max-height: 400px;
	overflow: auto;
	padding: 0px;
	padding-right: 4px;
	margin: 0px;
	margin-top: -4px;
}

.configTable {
	border: none;
}

.configTable td {
	padding-bottom: 6px;
}

.configTable .configHelp {
	font-style: italic;
	font-family: Arial;
	font-size: 8pt;
}

.configTable input {
	width: 140px;
	margin-right: 8px;
}

#buttons {
	border-top: dotted 1px #D1D1D1;
	margin: 15px auto 0px;
	padding-top: 5px;
	width: 100%;
	text-align: center;
}

#buttons input {
	margin: 3px;
}

#footer {
	margin-top: 20px;
	text-align: center;
	font-size: 8pt;
}

.invalidInputField {
	border: #FF6655 1px solid;
}