/* ------------------------ COMMON ------------------------ */
html, body, div, dl, dt, dd, pre, form, fieldset, input, p, blockquote, th, td, ul, ol, li, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

img, body, html {
	border: 0;
}

address, caption, cite, code, dfn, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

q:before, q:after {
	content: '';
}

html {
	overflow-x: hidden;
	height: 100%;
}

body {
	min-width: 1000px;
	cursor: default;
	height: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input,
select,
textarea {
	padding: 0 1px;
	vertical-align: middle;
}

ul {
	list-style-type: square;
	padding-left: 3.5em;
	margin-left: 0;
}

.simpleMessage {
	width: 50em;
	margin: 80px auto 100px;
}

/* Wenn etwas nicht mit der Maus angewählt werden soll (von http://www.google.ch/reader/view/) */
.unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

#notifier {
	position: absolute;
	top: 8px;
	padding: 3px;
	z-index: 1000;
	width: 350px;
}

#notifier.info {
	border: #204A87 2px solid;;
	background-color: #D0D7E5;
}

#notifier.warn {
	border: #C4A000 2px solid;
	background-color: #F7EDCA;
}

#notifier.error {
	border: #A40000 2px solid;
	background-color: #EFCACA;
}

#notifier .linkControl {
	margin-left: 5px;
}

/* Das Element, welches das Klassenbuch verdunkelt, wenn ein Fenster angezeigt wird */
#overlay {
	background-color: #000;
	opacity: 0.15;
	filter: alpha(opacity=15);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

/* Enthält die angezeigte Fenster und hat genau die Grösse des Browser-Fensters */
#windowContainer {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

/* Enthält Links wie "Anmelden" usw. */
#headerLinks {
	position: absolute;
	margin: 0;
	padding: 0;
}

#headerLinks li {
	display: inline;
	margin: 0;
	padding: 0 5px 0 7px;
}

#headerLinks li:first-child {
	border: none;
}

/* Der "Laden..."-Hinweis ganz rechts in der Menüleiste */
#activeRequest {
	background: url(default/images/loading.gif) no-repeat top left;
	height: 20px;
	float: right;
	padding: 2px 0 0 25px;
}

.spriteSmallIcons {
	background-image: url(default/images/smallIcons.gif);
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.spriteFileTypesSmall {
	background-image: url(default/images/fileTypesSmall.gif);
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

/* ------------------------ STEUERELEMENTE ------------------------ */
.button {
	cursor: pointer;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
}

.button,
.button span {
	display: inline-block;
}

.button .leftBoundary,
.button .rightBoundary,
.button .content,
.button .icon {
	float: left;
}

.gecko .button,
.gecko .button * {
	display: -moz-inline-box;
}

.webkit .button .icon {
	margin-top: -2px;
}

/* Eine normale Schaltfläche vom Typ "Controls.Button" */
.standardButton {
	height: 21px;
}

.standardButton .rightBoundary,
.standardButton .leftBoundary {
	height: 21px;
}

.standardButton .leftBoundary {
	width: 4px;
}

.standardButton .rightBoundary {
	padding-right: 4px;
}

.webkit .standardButton .content {
	padding-top: 4px;
}

.standardButton .icon {
	margin-right: 4px;
}

/** Wenn die Schaltfläche nur ein Symbol enthält */
.standardButton .withoutCaption {
	margin-right: 0;
}

/** Wenn die Schaltfläche nicht angeklickt werden kann */
.disabledStandardButton {
	cursor: default;
}

.disabledStandardButton .content {
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}

/* Ebenfalls für eine Instanz vom Typ "Controls.Button", aber mit veränderten Design-Angaben */
.menuItem {
	float: left;
	margin-right: 2px;
	height: 24px;
}

.menuItem .rightBoundary,
.menuItem .leftBoundary {
	height: 24px;
}

.menuItem .leftBoundary {
	width: 4px;
}

.menuItem .rightBoundary {
	padding-right: 4px;
}

.menuItem .content {
	height: 14px;
}

.menuItem .icon {
	margin-right: 5px;
}

/* Der aktive Menüpunkt */
.disabledMenuItem {
	cursor: default;
}

/* Ein Inhaltscontainer mit runden Ecken */
.roundedPane .corner {
	background-repeat: no-repeat;
	font-size: 2px;
}

.roundedPane .topLeftCorner {
	background-position: left top;
}

.roundedPane .topRightCorner {
	background-position: right top;
}

.roundedPane .bottomLeftCorner {
	background-position: left bottom;
}

.roundedPane .bottomRightCorner {
	background-position: right bottom;
}

.roundedPane .rightCorner {
	float: right;
}

.tabControl .tabParent {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tabControl .tabParent li {
	display: inline;
}

/* Eine einzelne Ansicht */
.viewContainer {
	position: relative;
}

/* Eine einzelne Ansicht */
.viewPane .paneContent {
	overflow: auto;
	overflow-x: hidden;
	position: relative;
}

/* Die Überschrift der Ansicht */
.viewPane h2 {
	padding: 6px 0 6px 40px;
	background-repeat: no-repeat;
}

/* In dieses Element, das oben rechts platziert wird, können zusätzliche Steuerelemente hinzugefügt werden
   (Beispiel: Der Datei-Filter in der Dateiablage) */
.viewPane .additionalCommands {
	position: absolute;
	top: 5px;
	right: 10px;
}

.viewPane .additionalCommands > span {
	float: right;
}

.viewPane .additionalCommands .divider {
	height: 20px;
	width: 1px;
	background-color: #AAA;
	margin: 0 8px;
}

/* Das Seitenmenü, das Zugriff auf verschiedene Funktionen und einen Hilfetext bietet */
.sideMenu {
	position: absolute;
}

.sideMenu .closeButton {
	position: absolute;
	cursor: pointer;
}

.sideMenu ul {
	list-style-type: none;
}

/* Ein einzelner Menüpunkt im Seitenmenü */
.sideMenu li {
	cursor: pointer;
}

.sideMenu li:hover {
	color: #B33;
	text-decoration: underline;
}

.sideMenu li .iconElement {
	float: left;
	margin-right: 5px;
}

.sideMenu li.disabled {
	cursor: default;
	color: #888;
}

.sideMenu li.disabled:hover {
	color: #888;
	text-decoration: none;
}

/* Die Schaltfläche, um das Seitenmenü wieder anzuzeigen */
.closedSideMenu {
	position: absolute;
	cursor: pointer;
}

.form {
	width: 270px;
}

.form .field {
	padding: 4px 0px;
	position: relative;
	clear: both;
}

.form .field .invalidIcon {
	position: absolute;
	right: -5px;
	top: 6px;
	height: 13px;
	width: 4px;
}

.form .field .input {
	position: relative;
	float: left;
}

.form .field input {
	width: 140px;
}

.form .field input.checkbox {
	width: auto;
	border: 0;
	margin: 0;
	padding: 0;
}

.form .field textarea {
	width: 170px;
}

.form .field label {
	text-align: right;
	padding-right: 5px;
	float: left;
	width: 115px;
	clear: left;
	position: relative;
	z-index: 2;
}

.form .buttons {
	clear: both;
	padding-top: 4px;
	margin-left: 120px;
}

.form .buttons .standardButton {
	display: inline;
	margin-right: 2px;
}

.form .clearFloating {
	clear: both;
}

/* Das Drow-Down-Auswahlmenü (Controls.DropDownSelection) */
.dropDownSelection .rightBoundary {
	padding-right: 20px;
}

.dropDownSelection .arrow {
	position: absolute;
	top: 3px;
	right: 0px;
}

/* Die Auswahlliste */
.dropDownSelectionList {
	z-index: 100;
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: solid 1px #606060;
	background: #F3F3F3;
}

.dropDownSelectionList li {
	cursor: pointer;
}

.dropDownSelectionList li:hover {
	background-color: #DDD;
}

/* Eine Datentabelle */
.table {
	border-collapse: collapse;
	width: 100%;
}

/* Eine Spaltenüberschrift in der Tabelle */
.table th {
	border-right: #D0D0D0 1px solid;
}

.table th .sortIcon {
	width: 10px;
	height: 10px;
	margin-right: 4px;
	float: left;
}

.table th .columnIcon {
	margin: auto;
}

.table th.sortableColumn {
	cursor: pointer;
}

/* Eine Gruppenüberschrift wenn die Elemente in der Tabelle in Gruppen angezeigt werden */
.table .tableGroupOutlook {
	font: bold 12px Tahoma, Arial, sans-serif;
	color: #777;
	border-bottom: #AAA 2px solid;
	padding-top: 15px;
}

.table .tableGroupMergedDivider {
	padding: 0;
	height: 3px;
	background: #B0B0B0;
	border-bottom: 1px #CCC solid;
}

.table .mergedCell {
	border-left: #CCC 1px solid;
	border-right: #CCC 1px solid;
	cursor: default;
}

.table .highlightableCell {
	cursor: pointer;
}

.simpleList {
	margin-left: 15px;
}

.simpleList .caption {
	width: 120px;
	vertical-align: top;
}

/* Ein Fenster ;-) */
.window {
	position: absolute;
	z-index: 5;
}

.window .titleBar {
	position: absolute;
	top: 6px;
	left: 13px;
}

.window .paneContent {
	overflow: hidden;
	padding: 10px;
	background-color: #FFF;
}

.window .paneContent p {
	margin: 5px 0;
}

/* Die Fensterüberschriften */
.window .paneContent h2,
.window .paneContent h3 {
	margin: 10px 0;
}

.window .paneContent h3 + h2 {
	margin-top: 0;
}

.window .closeButton {
	cursor: pointer;
	position: absolute;
}

.window.withTitleBar .closeButton {
	padding: 2px;
	top: 3px;
	right: 4px;
}

.window.withoutTitleBar .closeButton {
	padding: 0;
	top: 8px;
	right: 5px;
}

/* Eine Fortschrittsanzeige */
.progressBar {
	width: 99%;
	height: 13px;
	border: #AAA 1px solid;
	padding: 0;
	overflow: hidden;
}

.progressBar .progress {
	width: 0;
	margin: 0;
	height: 13px;
}

/* Ein Kalender, mit dem der Benutzer ein Datumauswählen kann */
.calendar {
	text-align: center;
	border: 1px solid #5690AA;
	width: 126px;
	font-size: 11px;
}

.calendar .header {
	text-align: center;
	color: #333;
	height: 18px;
	background: url(default/images/gradients.gif) 0 -45px repeat-x;
}

.calendar .day {
	width: 18px;
	height: 16px;
	text-align: center;
}

.calendar .selectableDay {
	cursor: pointer;
}

.calendar .navigation {
	width: 16px;
	height: 9px;
	cursor: pointer;
}

.calendar .weekdays {
	text-align: center;
	font-size: 11px;
	color: #FFF;
	background: url(default/images/gradients.gif) 0 -203px repeat-x;
	font-weight: 700;
	border-top: 1px solid #5690aa;
	border-bottom: 1px solid #5690aa;
	height: 16px;
	width: 18px;
}

.calendar .disabledDay {
	color: #777;
	background-color: #EAEAEA;
}

.calendar .today {
	font-weight: 700;
	color: #FFF;
	background: url(default/images/calendarTodayBackground.gif) no-repeat !important;
}

.calendar .todayDisabled {
	background: url(default/images/calendarTodayBackground.gif) no-repeat #EAEAEA !important;
}

/* Der gerade ausgewählte Tag */
.calendar .selectedDay {
	font-weight: 700;
	background: url(default/images/calendarSelectedDayBackground.gif) no-repeat;
}

/* ------------------------ FENSTER, DIE SICH KEINER ANSICHT ZUORDNEN LASSEN ------------------------ */
/* Das Fenster, in dem sich der Benutzer anmelden kann */
.signInWindow {
	right: 15px;
	top: 60px;
	width: 320px;
	height: 170px;
}

.signInWindow .form {
	margin: 10px 0;
}

.signInWindow a {
	display: block;
}

/* Das Fenster, mit dem der Benutzer ein neues Passwort anfordern kann */
.passwordRequestWindow {
	right: 15px;
	top: 60px;
	width: 380px;
	height: 170px;
}

.passwordRequestWindow .form {
	margin: 15px 0px;
}

.passwordChangeWindow {
	width: 380px;
	height: 220px;
}

.passwordChangeWindow .form {
	width: 310px;
}

.passwordChangeWindow .form label {
	width: 155px;
}

.passwordChangeWindow .buttons {
	margin-left: 160px;
}

.settingsWindow {
	width: 640px;
	height: 480px;
}

.settingsWindow > .paneContent {
	height: 380px;
}

.settingsWindow .tabControl .contentParent {
	height: 320px;
	margin-bottom: 5px;
	border: #AAA 1px solid;
	clear: both;
	padding: 0 8px 8px;
}

.settingsWindow .footer .standardButton {
	float: right;
	margin-left: 3px;
}

.settingsWindow .profileTab table {
	border-collapse: collapse;
}

.settingsWindow .profileTab .standardButton {
	float: right;
}

.settingsWindow .profileTab .caption {
	width: 100px;
	padding-bottom: 3px;
}

.settingsWindow .profileTab input {
	width: 150px;
}

.settingsWindow .profileTab .error {
	padding-left: 5px;
}

.settingsWindow .themeTab .theme {
	float: left;
	margin: 0 5px 5px 0;
	background: url(default/images/thumbnailBackground.jpg) repeat-x;
	padding: 6px;
	position: relative;
	border: 1px #406090 solid;
	cursor: pointer;
}

.settingsWindow .themeTab .theme:hover {
	margin: -2px 3px 3px -2px;
	border: 3px #406090 solid;
}

/* Das Fenster, mit dem sich ein Benutzer, der noch kein Konto hat, registrieren kann */
.registerWindow {
	right: 15px;
	top: 60px;
	width: 320px;
	height: 250px;
}

.registerWindow .form {
	margin: 10px auto;
}

/* ------------------------ DIE VERSCHIEDENEN ANSICHTEN UND ALLES WAS DAZU GEHÖRT ------------------------ */

/* ------------------------ Die Ansicht "Aufgaben" ------------------------ */

/* Wenn keine Aufgaben vorhanden sind */
.tasksView .noTasks {
	margin: auto;
	font: italic 20px Georgia;
	text-align: center;
	margin-top: 20px;
	color: #8B0000;
	height: 350px;
	background: url(default/images/notasks.jpg) bottom center no-repeat;
}

/* Infobox unten links, in welcher der Name des Benutzer, der die ausgewählte Aufgabe eingetragen hat, enthalten ist
   und das Eintragedatum */
.tasksView .infoBox {
	margin: -30px 0 0 22px;
	width: 200px;
}

/* Verschiedene Design-Angaben zur Tabelle */
.tasksView .importantHeaderIcon {
	width: 5px;
	height: 13px;
}

.tasksView .commentsHeaderIcon {
	width: 13px;
	height: 13px;
}

.tasksView .importantIcon {
	width: 3px;
	height: 12px;
}

.tasksView .newComments {
	margin-left: 4px;
}

.tasksView .taskTableActions div {
	float: left;
	margin-right: 5px;
}

.tasksView .taskTableActions .actionIcon {
	cursor: pointer;
}

/* Eine gelöschte Aufgabe */
.tasksView .removedTask {
	font-style: italic;
	color: #777;
}

.tasksView .completedTask {
	text-decoration: line-through;
}

.table .normalCellHighlighted .removedTask {
	color: #FFF !important;
}

/* Das Fenster zum Eintragen bzw. Bearbeiten einer Aufgabe */
.createEditTaskWindow {
	width: 400px;
	height: 300px;
}

.createEditTaskWindow .form {
	width: 350px;
}

.createEditTaskWindow .form select,
.createEditTaskWindow .form textarea {
	width: 220px;
}

/* Das Fenster, in dem die Kommentare zu einer Aufgabe angezeigt werden */
.taskCommentsWindow {
	width: 680px;
	height: 550px;
}

.taskCommentsWindow .paneContent {
	height: 500px;
}

.taskCommentsWindow .newCommentButton {
	margin-bottom: 10px;
	float: left;
}

.taskCommentsWindow .commentsContainer {
	overflow: auto;
	height: 400px;
	margin-bottom: 8px;
	clear: both;
}

.taskCommentsWindow .numberOfComments {
	float: left;
}

.taskCommentsWindow .loadingComments {
	float: left;
	background: url(default/images/loading.gif) no-repeat top left;
	margin-top: -2px;
	padding: 2px 0 2px 24px;
}

.taskCommentsWindow .commentTabsContainer {
	float: right;
}

.taskCommentsWindow .commentTabsContainer li {
	cursor: pointer;
	margin-left: 3px;
}

/* Ein einzelner Kommentar */
.taskCommentsWindow .comment {
	margin-bottom: 5px;
	padding: 4px;
	border: #70BA69 2px solid;
}

.taskCommentsWindow .comment .profile {
	float: left;
}

.taskCommentsWindow .comment .date {
	float: left;
	margin-top: -14px;
}

.taskCommentsWindow .comment .commands {
	float: right;
	cursor: pointer;
}

.taskCommentsWindow .comment .content {
	border-left: 2px #AACD67 dotted;
	margin-left: 120px;
	min-height: 80px;
	display: block;
	padding: 0 5px;
	vertical-align: top;
	font-size: 12px;
}

/* IE-Hack */
* html .taskCommentsWindow .comment .content {
	height: 65px;
}

/* Das Fenster zum Bearbeiten bzw. Eintragen eines Kommentars */
.commentWindowAbstract {
	width: 465px;
	height: 390px;
}

.commentWindowAbstract textarea {
	width: 430px;
}

.commentWindowAbstract .buttonContainer {
	margin-left: 85px;
}

.commentWindowAbstract .buttonContainer .standardButton {
	float: left;
	margin: 0 2px;
}

.commentInputField {
	margin: 15px 0;
}

.commentInputField .formatingContainer img {
	margin: 0 3px 2px 0;
	cursor: pointer;
	width: 18px;
	height: 18px;
}

.commentInputField textarea {
	height: 90px;
	font: normal 12px Arial, sans-serif;
}

.commentInputField .emoticonsContainer img {
	margin: 5px 2px 1px 0;
	cursor: pointer;
}

/* ------------------------ Die Ansicht "Kontaktliste" ------------------------ */

.contactView h2 {
	background-image: url(default/images/contactsTitle.gif);
}

.contactView .hiddenInformation {
	color: #AAA;
}

/* Das Fenster, in dem das Profil eines Benutzer angezeigt wird */
.contactWindow {
	width: 450px;
	height: 350px;
}

/* ------------------------ Die Ansicht "Dateiablage" ------------------------ */
.storageView h2 {
	background-image: url(default/images/storageTitle.gif);
}

.storageView .additionalCommands .dropDownSelection .content {
	width: 100px;
}


.storageView .fileTypeIcon {
	float: left;
	margin-right: 5px;
}

.storageView .archiveIcon {
	float: left;
	margin-right: 5px;
}

/* Das Fenster zum Hochladen einer Datei in die Dateiablage */
.uploadWindow {
	width: 500px;
	height: 320px;
}

.uploadWindow .paneContent {
	height: 280px;
}

.uploadWindow .uploadForm {
	width: 300px;
	margin: auto;
	margin-top: 40px;
	border-spacing: 4px;
}

.uploadWindow .uploadForm .caption {
	text-align: right;
}

.uploadWindow .uploadForm .descriptionInput {
	width: 220px;
}

.uploadWindow .uploadForm .buttonContainer {
	padding-top: 15px;
}

.uploadWindow .uploadForm .buttonContainer .standardButton {
	display: inline;
}

.uploadWindow .uploadForm .fileInputContainer div {
	float: left;
}

.uploadWindow .uploadProgress {
	width: 300px;
	margin: 40px auto 0px;
}

.uploadWindow .uploadProgress .fileNameContainer {
	float: left;
	margin-bottom: 3px;
	font-weight: 700;
}

.uploadWindow .uploadProgress .fileSizeContainer {
	float: right;
	margin-right: -2px;
}

.uploadWindow .uploadProgress .progressBarContainer {
	clear: both;
	display: block;
	margin-bottom: 20px;
}

/* Wenn der Browser Adobe Flash 9 nicht unterstützt */
.uploadWindow .flashNotAvailable {
	background: url(http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif) bottom center no-repeat;
	padding-bottom: 35px;
}

/* ------------------------ Die Ansicht "Fotogalerie" ------------------------ */
.galleryView h2 {
	background-image: url(default/images/galleryTitle.gif);
}

/* Ein einzelnes Album in der Albumauflistung */
.galleryView .albumLink {
	float: left;
	margin: 0 5px 5px 0;
	width: 160px;
	height: 100px;
	background: url(default/images/thumbnailBackground.jpg) repeat-x;
	padding: 10px;
	position: relative;
	border: 1px #406090 solid;
	cursor: pointer;
	overflow: hidden;
}

.galleryView .albumLink .icon {
	margin: auto;
	background: url(default/images/albumCover.gif) no-repeat;
	width: 48px;
	height: 48px;
	margin-bottom: 10px;
}

.galleryView .albumLink:hover {
	margin: -2px 3px 3px -2px;
	border: 3px #406090 solid;
}

.galleryView .albumLink .pictures {
	color: #999;
}

/* Fenster, mit dem der Benutzer ein neues Album erstellen kann (Gallery.Album.CreationWindow) */
.createAlbumWindow {
	width: 400px;
	height: 213px;
}

.createAlbumWindow .form {
	width: 310px;
}

.createAlbumWindow .form input,
.createAlbumWindow .form textarea {
	width: 180px;
}

.albumDownloadWindow {
	width: 400px;
	height: 120px;
}

/* Fenster, in dem alle Bilder eines Album angezeigt werden (Gallery.Album.Window) */
.albumWindow {
	width: 980px;
	height: 665px;
}

.albumWindow .paneContent {
	height: 609px;
}

.albumWindow .standardButton {
	margin: 0 2px 10px 0;
}

.albumWindow .slideShowButton,
.albumWindow .downloadButton {
	float: right;
}

.albumWindow .addPicturesButton {
	float: left;
}

.albumWindow .thumbnailTable {
	clear: both;
	margin: 0 -3px;
	padding: 3px 0 0 3px;
	height: 500px;
	overflow: hidden;
}

.albumWindow .navigation {
	float: right;
	margin-top: 10px;
}

.albumWindow .navigation .currentPage {
	margin: 2px 5px;
}

.albumWindow .thumbnailContainer {
	width: 120px;
	height: 108px;
	text-align: center;
	float: left;
	margin: 0 5px 5px 0;
	background: url(default/images/thumbnailBackground.jpg) repeat-x;
	border: 1px #406090 solid;
	cursor: pointer;
	padding: 5px;
}

.albumWindow .thumbnailContainer:hover {
	margin: -2px 3px 3px -2px;
	border: 3px #406090 solid;
}

/* Das Element, welches den Bildschirm bei einer Diashow verdunkelt */
.pictureViewerOverlay {
	background-color: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

/* Die Grossansicht eines einzelnen Bildes bzw. die Diashow (Gallery.PictureViewer) */
.pictureViewer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	overflow: hidden;
}

.pictureViewer .commands {
	position: absolute;
	bottom: 20px;
	width: 107px;
	text-align: center;
	
}

.pictureViewer .commands .standardButton {
	margin: 0 1px 0px 2px;
	float: left;
}

.pictureViewer .topTab {
	width: 120px;
	height: 22px;
	position: absolute;
	top: 0px;
	cursor: pointer;
	opacity: 0.7;
}

.pictureViewer .topTab:hover {
	opacity: 1.0;
}

pictureViewer .closePictureViewerTab {
	left: 20px;
}

.pictureViewer .pictureInfoTab {
	left: 144px;
}

.pictureContainer {
	position: absolute;
	padding: 12px 12px 8px;
	background-color: #FFF;
}

.pictureContainer .loading {
	position: absolute;
	bottom: 12px;
	right: 12px;
	background: url(default/images/loading.gif) no-repeat;
	width: 18px;
	height: 18px;
}

.pictureInfoWindow {
	z-index: 11;
	width: 350px;
	height: 250px;
	top: 40px;
	left: 20px;
}

.pictureInfoWindow .standardButton {
	margin-top: 3px;
}

/* Das Fenster zum Hochladen von neuen Fotos (Gallery.PictureUploadWindow) */
.pictureUploadWindow {
	width: 500px;
	height: 520px;
}

.pictureUploadWindow .paneContent {
	height: 470px;
}

.pictureUploadWindow .standardButton {
	float: left;
	margin: 4px 0 8px;
}

.pictureUploadWindow .linkControl {
	float: left;
	margin: 6px 4px;
	font-weight: 700;
}

.pictureUploadWindow h3 {
	margin: 0 0 4px!important;
	clear: both;
}

.pictureUploadWindow .progressContainer {
	height: 310px;
	overflow: auto;
	border: #888 1px solid;
	overflow-x: hidden;
}

.pictureUploadWindow .progressContainer .fileProgress {
	height: 30px;
	padding: 10px 5px;
	border-bottom: 1px dotted #6c8294;
}

.pictureUploadWindow .progressContainer .fileProgress .fileName {
	font-weight: 700;
}

.pictureUploadWindow .progressContainer .fileProgress .fileSize {
	font-style: italic;
}

.pictureUploadWindow .progressContainer .fileProgress.inProgress {
	background: url(default/images/uploadProgressBackground.gif) repeat-x;
}

.pictureUploadWindow .progressContainer .fileProgress.completed {
	background: url(default/images/uploadCompletedBackground.gif) repeat-x;
}
.pictureUploadWindow .progressContainer .fileProgress.failed {
	background: url(default/images/uploadFailedBackground.gif) repeat-x;
}

/* Das Fenster, in dem der Benutzer aufgefordert wird, die Dateien zu verkleinern (Gallery.PictureUploadNote) */
.pictureUploadNoteWindow {
	width: 450px;
	height: 400px;
}

.shoutboxView .sidePane{
	float: right;
	margin-left: 10px;
	clear: both;
	margin-bottom: 20px;
}

.shoutboxView .sidePane h3 {
	margin: 0 0 10px 0;
}

.shoutboxView .sidePane input {
	border: none;
}

.shoutboxView .messages {
	height: 400px;
	overflow: auto;
	margin-bottom: 5px;
	overflow-x: hidden;
}

.shoutboxView .messages table {
	margin: 0px;
	border-collapse: collapse;
	width: 100%;
}

.shoutboxView .messages table td {
	padding: 2px;
}

.shoutboxView .messages .left {
	vertical-align: top;
	width: 100px;
	font-weight: bold;
	border-right: dotted 1px #D1D1D1;
	padding-right: 6px;
	text-align: right;
}

.shoutboxView .messages .date td {
	color: #888888;
	padding-top: 12px;
}

.shoutboxView .messages .right {
	padding-left: 6px;
}


.shoutboxView .messages .ownMessage {
	background-color: #D5E5FF;
}

.shoutboxView .messages .systemMessage {
	background-color: #FFE5D5;
}

.shoutboxView ul {
	color: #CCC;
	padding: 5px;
	padding-left: 18px;
	margin: 0;
}

.shoutboxView textarea {
	width: 50%;
	margin-right: 5px;
	height: 55px;
}

.ie .shoutboxView textarea {
	position: relative;
	left: -10px;
}
