<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="design/{DESIGN}/css/design.css" media="screen, projection" type="text/css" rel="stylesheet" />
	<link href="design/print.css" media="print" type="text/css" rel="stylesheet" />
	
	{IF !SIMPLEMESSAGE}
		<script src="javascript/prototype.js" type="text/javascript"></script>
		<script src="javascript/klassenbuch.eventpublisher.js" type="text/javascript"></script>
		<script src="javascript/swfupload.js" type="text/javascript"></script>
		<script src="javascript/prototype.extensions.js" type="text/javascript"></script>
		
		<script src="javascript/klassenbuch.js" type="text/javascript"></script>
		<script src="javascript/klassenbuch.history.js" type="text/javascript"></script>
		<script src="javascript/klassenbuch.controls.js" type="text/javascript"></script>
		<script src="javascript/klassenbuch.user.js" type="text/javascript"></script>
		<script src="javascript/klassenbuch.theme.js" type="text/javascript"></script>
		<script src="javascript/klassenbuch.tasks.js" type="text/javascript"></script>
		<script src="javascript/klassenbuch.contacts.js" type="text/javascript"></script>
		<script src="javascript/klassenbuch.storage.js" type="text/javascript"></script>
		<script src="javascript/klassenbuch.gallery.js" type="text/javascript"></script>
		<script src="javascript/klassenbuch.comments.js" type="text/javascript"></script>
		
		<script type="text/javascript">
			// Könnte bestimmt noch eleganter gelöst werden
			var DirectData = {
				get: function(name) {
					var data = DirectData._items[name];

					if (data && Object.isDefined(data.result) && Object.isNull(data.error)) {
						return data;
					} else {
						return false;
					}
				},
				
				_items: {
{DIRECTDATA}
				}
			};
		</script>
	{ENDIF}
	
	<title>{TITLE} {SUBTITLE}{IF PAGETITLE} - {PAGETITLE}{ENDIF}</title>
</head>
<body>
	<div id="title" class="unselectable">
		<h1>{TITLE}</h1>
		<span>{SUBTITLE}</span>
	</div>
	
	{IF SIMPLEMESSAGE}
		<div class="simpleMessage">
			<h2>{SIMPLEMESSAGETITLE}</h2>
			{SIMPLEMESSAGEBODY}
		</div>
	{ELSE}
		<ul id="headerLinks" class="notSignedIn">
			<li><a href="javascript:User.showRegisterWindow();">Registrieren</a></li>
			<li><a href="javascript:User.showSignInWindow();">Anmelden</a></li>
		</ul>
		
		<ul id="headerLinks" class="signedIn" style="display: none;">
			<li><span id="welcomeMessage"></span></li>
			<li><a href="javascript:User.showSettingsWindow();">Einstellungen</a></li>
			<li><a href="javascript:User.signOut();">Abmelden</a></li>
		</ul>
		
		<div id="menu">
			<div id="activeRequest">Laden...</div>
		</div>
		
		<div id="content"></div>
		
		<noscript>
			<div class="simpleMessage">
				<h2>JavaScript ist nicht aktiviert</h2>
				<p>Damit das Klassenbuch korrekt angezeigt werden kann, muss bei deinem Browser 
				<a href="http://de.wikipedia.org/wiki/JavaScript">JavaScript</a> aktiviert sein.
				Die Vorgehensweise zur Aktivierung unterscheidet sich von Browser zu Browser:</p>
				
				<ul>
					<li><strong>Firefox</strong>: Wähle im Menü <em>Extras</em> den Menüpunkt <em>Einstellungen</em>.
					Aktiviere dann im Reiter <em>Inhalt</em> den Punkt <em>JavaScript aktivieren</em>.</li>
					<li><strong>Internet Explorer</strong>: Wähle im Menü <em>Extras</em> den Menüpunkt <em>Internetoptionen</em>.
					Klicke auf den Reiter <em>Sicherheit</em> und dann auf die Schaltfläche <em>Stufe anpassen</em>.
					Aktiviere im Abschnitt <em>Scripting</em> den Punkt <em>Active Scripting</em>.</li>
					<li><strong>Opera</strong>: Wähle im Menü <em>Extras</em> den Menüpunkt <em>Einstellungen</em>.
					Klicke auf den Reiter <em>Erweitert</em> und wähle im Seitenmenu den Punkt <em>Inhalte</em>.
					Setze nun ein Häckchen vor den Text <em>JavaScript aktivieren</em>.</li>
					<li><strong>Safari</strong>: Wähle im Menü <em>Bearbeiten</em> den Menüpunkt <em>Einstellungen</em>.
					Aktiviere dann im Reiter <em>Sicherheit</em> den Punkt <em>JavaScript aktivieren</em>.</li>
				</ul>
				
				<p>Bestätige nun die Änderungen mit einem Klick auf <em>OK</em> und lade das Klassenbuch neu.<br />
				Wende dich bei Fragen an <a href="mailto:severinheiniger@gmail.com">Severin</a>.</p>
			</div>
		</noscript>
		
		<div id="browserNotSupported" style="display: none;" class="simpleMessage">
			<h2>Browser wird nicht unterstützt</h2>
			
			<p>Leider ist das Klassenbuch nicht mit dieser Browser-Version kompatibel. Bitte aktualisiere deinen 
			Browser auf die neuste Version.</p>
			
			<h3>Unterstützte Browser</h3>
			<ul>
				<li><a href="http://www.mozilla-europe.org/de/products/firefox/">Firefox 1.5 oder neuer</a> <em>
				(empfohlen)</em></li>
				<li><a href="http://www.microsoft.com/switzerland/windows/de/downloads/ie/getitnow.mspx">Internet 
				Explorer 6 oder neuer</a></li>
				<li><a href="http://www.opera.com/products/desktop/?htlanguage=de/">Opera</a></li>
				<li><a href="http://www.apple.com/de/safari/">Safari</a></li>
			</ul>
			
			<p>Vielen Dank für dein Verständnis.</p>
		</div>
	{ENDIF}
</body>
</html>

{DEFINE DESIGN "nonzero"}
{DEFINE TITLE ""}
{DEFINE SUBTITLE ""}
{DEFINE PAGETITLE ""}
