<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="../design/{DESIGN}/css/design.css" media="screen, projection" type="text/css" rel="stylesheet" />
	<link href="installation.css" media="screen, projection" type="text/css" rel="stylesheet" />
	
	<title>Klassenbuch - Installation{IF WIZARDTITLE} - {WIZARDTITLE}{ENDIF}</title>
</head>
<body>
	<div id="title" class="unselectable">
		<h1>Klassenbuch</h1>
		<span>Installation</span>
	</div>

	<div class="simpleMessage">
		<h2>{WIZARDTITLE}</h2>
		<div id="wizardBody">{WIZARDBODY}</div>
		{WIZARDBUTTONS}
		<div id="footer">
			The <a href="http://bb.militate.com">NBBS</a> Install Wizard - &copy; Chris F Ravenscroft 2005
		</div>
	</div>
</body>
</html>

{DEFINE DESIGN "nonzero"}
{DEFINE WIZARDTITLE ""}