/* ------------------------ COMMON ------------------------ */
body {
	font: normal 12px Verdana, sans-serif;
	background: url(../images/background.jpg) bottom left no-repeat #92BCE5;
}

h2 {
	font: normal 17px Tahoma, Arial, sans-serif;
	color: #567;
	padding: 0;
	margin: 0 0 15px;
}

a {
	color: #406090;
}

a:hover {
	color: #B33;
}
input,
select,
textarea {
	font: normal 12px Arial, sans-serif;
	border: #AAA 1px solid;
}

#title {
	padding: 18px 0 16px 40px;
}

#title h1 {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	color: #FFF;
}

#title span {
	color: #B8CFEC;
}

.simpleMessage {
	color: #FFF;
}

.simpleMessage h2,
.simpleMessage a {
	color: #B8CFEC;
}

/* Enthält Links wie "Anmelden" usw. */
#headerLinks {
	color: #FFF;
	right: 15px;
	top: 30px;
}

#headerLinks li {
	border-left: 1px #AAD solid;
}

#headerLinks a {
	color: #B8CFEC;
}

#headerLinks a:hover {
	color: #FFF;
}

#menu {
	color: #333;
	background: url(../images/gradients.gif) repeat-x;
	height: 24px;
	padding: 3px 15px 3px 30px;
}

/* Der "Laden..."-Hinweis ganz rechts in der Menüleiste */
#activeRequest {
	margin-top: 3px;
}

/* Das Element, dass alle Ansichten (Controls.View) enthält */
#content {
	color: #333;
	margin: 0;
}

.spriteGradients {
	background-image: url(../images/smallIcons.gif);
	width: 16px;
	background-repeat: repeat-x;
}

.standardButton .rightBoundary,
.standardButton .leftBoundary {
	background-image: url(../images/button.png);
}

.standardButton .content {
	height: 16px;
	padding: 3px 4px 2px;
}

.menuItem .rightBoundary,
.menuItem .leftBoundary {
	background-image: url(../images/menuButtons.gif);
}

.menuItem .content {
	padding: 5px 7px 5px 5px;
}

/* Eine einzelne Ansicht */
.viewContainer {
	margin: 10px 15px 0;
}

.viewPane .corner {
	background-image: url(../images/roundedViewContent.gif);
	height: 10px;
}

.viewPane .leftCorner {
	margin-right: 10px;
}

.viewPane .rightCorner {
	margin-top: -10px;
	width: 10px;
}

.viewPane .paneContent {
	background-color: #FFF;
	padding: 0 10px;
	border-left: #22385B 1px solid;
	border-right: #22385B 1px solid;
}

/* Falls die Ansicht über ein Seitenmenü verfügt */
.viewPane.withSideMenu {
	margin-left: 245px;
}

/* Das Seitenmenü, das Zugriff auf verschiedene Funktionen und einen Hilfetext bietet */
.sideMenu {
	top: 0;
	left: 25px;
	width: 200px;
}

.ie6 .sideMenu {
	left: -220px;
}

.sideMenu .corner {
	background-image: url(../images/roundedSideMenu.gif);
}

.sideMenu .topLeftCorner {
	height: 23px;
	margin-right: 23px;
}

.sideMenu .topRightCorner {
	height: 23px;
	margin-top: -23px;
	width: 23px;
}

.sideMenu .bottomLeftCorner {
	height: 5px;
	margin-right: 5px;
}

.sideMenu .bottomRightCorner {
	height: 5px;
	margin-top: -5px;
	width: 5px;
}

.sideMenu .paneContent {
	background: #FFF;
	border-left: #22385b 1px solid;
	border-right: #22385b 1px solid;
	padding: 0;
	margin: 0;
}

.sideMenu .closeButton {
	background: url(../images/sideMenuHide.gif) no-repeat;
	right: 10px;
	top: 3px;
	width: 17px;
	height: 17px;
}

.sideMenu .title {
	position: absolute;
	top: 5px;
	left: 15px;
	font: normal 11px Verdana, sans-serif;
	color: #FFF;
}

.sideMenu ul {
	padding: 10px 0 8px 13px;
}

/* Ein einzelner Menüpunkt im Seitenmenü */
.sideMenu li {
	margin: 6px 0;
	color: #406090;
}

/* Der Hilfetext unter dem Seitenmenü */
.sideMenu .help {
	font: normal 12px Verdana, sans-serif;
	font-size: 11px;
	color: #A8BFDC;
	margin: 20px 10px 0 0;
}

/* Die Schaltfläche, um das Seitenmenü wieder anzuzeigen */
.closedSideMenu {
	background: url(../images/sideMenuClosed.gif) top left no-repeat;
	top: 50px;
	left: -15px;
	width: 20px;
	height: 155px;
}

/* Das Drow-Down-Auswahlmenü (Controls.DropDownSelection) */
.dropDownSelection .rightBoundary {
	font: normal 12px Arial, sans-serif;
}

/* Die Auswahlliste */
.dropDownSelectionList {
	font: normal 12px Arial, sans-serif;
}

.dropDownSelectionList li {
	display: block !important;
	padding: 1px 6px;
}

/* Eine Datentabelle */
.table {
	border-left: #CCC 1px solid;
	border-right: #CCC 1px solid;
	font: normal 12px Arial, sans-serif;
}

/* Eine Spaltenüberschrift in der Tabelle */
.table th {
	background: url(../images/gradients.gif) 0 -40px repeat-x;
	padding: 4px 8px;
	font: normal 13px Arial, sans-serif;
}

.table th:hover {
	background: url(../images/gradients.gif) 0 -80px repeat-x;
}

.table th.sorted {
	background: url(../images/gradients.gif) 0 -120px repeat-x;
}

.table .normalCell {
	border-bottom: #CCC 1px solid;
	padding: 3px 8px;
}

.table .normalCellHighlighted {
	background-color: #93D67F;
	background: url(../images/gradients.gif) 0 -165px repeat-x;
	color: #FFF;
}

/* Ein Fenster ;-) */
.window {
	font: normal 12px Arial, sans-serif;
}

.window .titleBar {
	color: #DDD;
	font: normal 11px Verdana, sans-serif;
}

.window .paneContent {
	border-left: #293D5A 2px solid;
	border-bottom: #293D5A 2px solid;
	border-right: #293D5A 2px solid;
	font: normal 12px Arial, sans-serif;
}

/* Die Fensterüberschrift */
.window .paneContent h2 {
	font: normal 17px Tahoma, Arial, sans-serif;
	color: #567;
}

/* Eine Unterüberschrift im Fenster */
.window .paneContent h3 {
	font: normal 13px Tahoma, Arial, sans-serif;
	border-bottom: #9AB 1px solid;
	color: #567;
}

/* Ein Fenster mit Fensterleiste */
.window.withTitleBar .corner {
	background-image: url(../images/roundedWindowWithTitleBar.gif);
}

.window.withTitleBar .topLeftCorner {
	height: 26px;
	margin-right: 26px;
}

.window.withTitleBar .topRightCorner {
	height: 26px;
	margin-top: -26px;
	width: 26px;
}

/* Ein Fenster ohne Fensterleiste */
.window.withoutTitleBar .corner {
	background-image: url(../images/roundedWindowWithoutTitleBar.gif);
}

.window.withoutTitleBar .topLeftCorner {
	height: 5px;
	margin-right: 5px;
}

.window.withoutTitleBar .topRightCorner {
	height: 5px;
	margin-top: -5px;
	width: 5px;
}

/* Eine Fortschrittsanzeige */
.progressBar {
	background: url(../images/gradients.gif) 0 -280px repeat-x;
}

.progressBar .progress {
	background: url(../images/gradients.gif) 0 -245px repeat-x;
}

/* ------------------------ DIE VERSCHIEDENEN ANSICHTEN UND ALLES WAS DAZU GEHÖRT ------------------------ */

/* ------------------------ Die Ansicht "Aufgaben" ------------------------ */
.tasksView h2 {
	background-image: url(../images/tasksTitle.gif);
}

/* Infobox unten links, in welcher der Name des Benutzer, der die ausgewählte Aufgabe eingetragen hat, enthalten ist
   und das Eintragedatum */
.tasksView .infoBox {
	color: #293D5A;
	font: normal 12px Verdana, sans-serif;
	font-size: 11px;
}

.taskCommentsWindow .commentTabsContainer li {
	font-weight: 700;
	color: #406090;
}

.taskCommentsWindow .commentTabsContainer li:hover,
.taskCommentsWindow .commentTabsContainer li.active {
	color: #B33;
}

/* ------------------------ Die Ansicht "Kontaktliste" ------------------------ */
.contactWindow .paneContent {
	height: 280px;
}

.pictureViewer .closePictureViewerTab {
	background: url(../images/closepictureviewer.gif) no-repeat top left;
}

.pictureViewer .pictureInfoTab {
	background: url(../images/morepicture.gif) no-repeat top left;
}

/* Das Fenster, in dem der Benutzer aufgefordert wird, die Dateien zu verkleinern (Gallery.PictureUploadNote) */
.shoutboxView .sidePane{
	width: 200px;
}
.shoutboxView .messages {
	border: 1px #406090 solid;
}
