/* ------------------------ COMMON ------------------------ */
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: url(../images/background.gif) top left repeat-x;
	background-position: 0px -16px;
	background-color: #FFF;
	color: #585858;
	font-size: 9pt;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 100%;
}

h2, h3, h4, h5, h6 {
	color: #66000F;
}

h2 {
	font-size: 1.9em;
	padding: 0;
	margin: 0 0 15px;
	background-position: 0px 3px;
}

h2, h3 {
	border-bottom: dotted 1px #D1D1D1;
}

a {
	color: #66000F;
}

a:hover{
	color: #B33;
}

input,
select,
textarea {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 9pt;
	color: #222;
	border: #AAA 1px solid;
}

#title {
	padding: 20px 0 16px 40px;
}

#title h1 {
	font-family: "Trebuchet MS", Arial, sans-serif;
	display: inline;
	color: #FFF;
	font-size: 2.6em;	
}

#title span {
	display: inline;
	padding-left: 0.5em;
	color: #E5CCD0;
	font-size: 1.0em;
}

/* Enthält Links wie "Anmelden" usw. */
#headerLinks {
	right: 15px;
	top: 40px;
	color: #FFF;
}

#headerLinks li {
	border-left: 1px #A94B4B solid;
}

#headerLinks a {
	color: #FFF;
}

#headerLinks a:hover {
	color: #FFF;
}

#menu {
	height: 24px;
	padding: 7px 15px 0px 30px;
}

.webkit #menu {
	padding-top: 10px;
}

/* Der "Laden..."-Hinweis ganz rechts in der Menüleiste */
#activeRequest {
	color: #FFF;
	margin-top: 1px;
}

.spriteGradients {
	background-image: url(../images/gradients.gif);
	width: 16px;
	background-repeat: repeat-x;
}

.standardButton .rightBoundary,
.standardButton .leftBoundary {
	background-image: url(../images/button.png);
}

.standardButton .content {
	height: 17px;
	padding: 2px 4px 0px;
	margin: 0px;
}

.menuItem .rightBoundary,
.menuItem .leftBoundary {
	background-image: url(../images/menuButtons.gif);
}

.menuItem .content {
	color: #616161;
	font-weight: bold;
	padding: 4px 6px 2px 5px;
}

.webkit .menuItem .content {
	padding-top: 6px;
}

.disabledMenuItem .content {
	color: #FFF;
}

.tabControl .tabParent li {
	text-transform: lowercase;
	cursor: pointer;
}

.tabControl .tabParent li.active {
	cursor: default;
}

/* Eine einzelne Ansicht */
.viewContainer {
	padding: 15px 15px 6px;
}

.viewPane {
	margin-left: 10px;
}

.viewPane .paneContent {
	padding: 0 10px;
}

.viewPane.withSideMenu .paneContent {
	border-left: dotted 1px #D1D1D1;
}

/* Falls die Ansicht über ein Seitenmenü verfügt */
.viewPane.withSideMenu {
	margin-left: 225px;
}

/* Das Seitenmenü, das Zugriff auf verschiedene Funktionen und einen Hilfetext bietet */
.sideMenu {
	top: 21px;
	left: 38px;
	width: 190px;
}

.ie6 .sideMenu {
	left: -202px;
}

.sideMenu .closeButton {
	background: url(../images/sidemenuhide.gif) no-repeat;
	right: 3px;
	top: 10px;
	width: 16px;
	height: 16px;
}

.sideMenu .title {
	letter-spacing: -1px;
	text-transform: lowercase;
	color: #66000F;
	font-size: 1.5em;
	padding: 6px 0;
}

.sideMenu ul {
	padding: 10px 0 8px 0;
}

/* Ein einzelner Menüpunkt im Seitenmenü */
.sideMenu li {
	margin: 4px 0;
	color: #66000F;
}

/* Der Hilfetext unter dem Seitenmenü */
.sideMenu .help {
	border-top: dotted 1px #D1D1D1;
	padding-top: 10px;
	color: #888;
	margin-top: 20px;
}

/* Die Schaltfläche, um das Seitenmenü wieder anzuzeigen */
.closedSideMenu {
	background: url(../images/sidemenushow.gif) top left no-repeat;
	top: 200px;
	left: 0px;
	width: 22px;
	height: 144px;
}

.ie6 .closedSideMenu {
	left: -25px;
}

.dropDownSelectionList li {
	margin: 0px;
	padding: 0px 6px;
}

.dropDownSelectionList li:hover {
	background-color: #DDD;
}

/* Eine Datentabelle */
.table {
	border: #D0D0D0 1px solid;
}

/* Eine Spaltenüberschrift in der Tabelle */
.table th {
	background: url(../images/gradients.gif) 0 -40px repeat-x;
	padding: 3px 8px 2px;
}

.table th:hover {
	background: url(../images/gradients.gif) 0 -80px repeat-x;
}

.table th.sorted {
	background: url(../images/gradients.gif) 0 -120px repeat-x;
}
.table .tableGroupMergedDivider {
	border-top: 1px #CCC solid;
}

.table .normalCell {
	padding: 2px 8px;
}

.table .normalCellHighlighted {
	background: url(../images/highlightedRow.gif) bottom left repeat-x #8d0014;
	color: #FFF;
}

.window .titleBar {
	color: #FFF;
	text-transform: lowercase;
}

.window .paneContent {
	border-left: #ADB2B5 2px solid;
	border-right: #ADB2B5 2px solid;
}

/* Die Fensterüberschrift */
.window .paneContent h2 {
	font-size: 1.5em;
}

/* Ein Fenster mit Fensterleiste */
.window.withTitleBar .corner {
	background-image: url(../images/windowWithTitlebar.gif);
}

.window.withTitleBar .topLeftCorner {
	height: 26px;
	margin-right: 120px;
}

.window.withTitleBar .topRightCorner {
	height: 26px;
	margin-top: -26px;
	width: 120px;
}

.window.withTitleBar .bottomLeftCorner {
	height: 6px;
	margin-right: 120px;
}

.window.withTitleBar .bottomRightCorner {
	height: 6px;
	margin-top: -6px;
	width: 120px;
}

/* Ein Fenster ohne Fensterleiste */
.window.withoutTitleBar .corner {
	background-image: url(../images/windowWithoutTitleBar.gif);
}

.window.withoutTitleBar .topLeftCorner {
	height: 6px;
	margin-right: 120px;
}

.window.withoutTitleBar .topRightCorner {
	height: 6px;
	margin-top: -6px;
	width: 120px;
}

.window.withoutTitleBar .bottomLeftCorner {
	height: 6px;
	margin-right: 120px;
}

.window.withoutTitleBar .bottomRightCorner {
	height: 6px;
	margin-top: -6px;
	width: 120px;
}

/* Eine Fortschrittsanzeige */
.progressBar {
	background: url(../images/gradients.gif) 0 -280px repeat-x;
}

.progressBar .progress {
	background: url(../images/gradients.gif) 0 -245px repeat-x;
}

/* ------------------------ DIE VERSCHIEDENEN ANSICHTEN UND ALLES WAS DAZU GEHÖRT ------------------------ */

/* ------------------------ Die Ansicht "Aufgaben" ------------------------ */
.tasksView h2 {
	background-image: url(../images/tasksTitle.gif);
}

/* Infobox unten links, in welcher der Name des Benutzer, der die ausgewählte Aufgabe eingetragen hat, enthalten ist
   und das Eintragedatum */
.tasksView .infoBox {
	color: #888;
}

.taskCommentsWindow .commentTabsContainer li {
	font-weight: bold;
	border: #66000F 1px solid;
	padding: 0px 4px;
}

.taskCommentsWindow .commentTabsContainer li:hover,
.taskCommentsWindow .commentTabsContainer li.active {
	background: url(../images/gradients.gif) 0 -160px repeat-x;
	color: #FFF;
}

/* ------------------------ Die Ansicht "Kontaktliste" ------------------------ */
.contactWindow .paneContent {
	height: 320px;
}

.pictureViewer .closePictureViewerTab {
	background: url(../images/closepictureviewer.gif) no-repeat top left;
}

.pictureViewer .pictureInfoTab {
	background: url(../images/morepicture.gif) no-repeat top left;
}

/* Das Fenster, in dem der Benutzer aufgefordert wird, die Dateien zu verkleinern (Gallery.PictureUploadNote) */
.pictureUploadNoteWindow {
	width: 450px;
	height: 400px;
}

.shoutboxView .sidePane{
	float: right;
	width: 175px;
	margin-left: 10px;
	clear: both;
	margin-bottom: 20px;
}

.shoutboxView .sidePane h3 {
	letter-spacing: -1px;
	text-transform: lowercase;
	color: #66000F;
	font-size: 1.5em;
}

.shoutboxView .messages {
	border: #D1D1D1 1px solid;
}
